.main-wrapper{
    margin-top: 50px;
    display: flex;
}

.nav-link{
    font-size: 25px;
}

/* ------- Home Cards ------- */
.cards{
    display: flex;
    width: 500px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}

.top-wrapper{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: ivory;
}

.edit{
    margin-left: 50rem;
}

.card-title{
    color: black;
    text-decoration: none;
}

/* ------- Form Css ------- */
.form-wrapper{
    padding-top: auto;
    background-color: rgb(250, 181, 116);
    align-items: center;
    border-radius: 10px;
    width: 30rem;
    height: auto;
    margin: auto;
    text-transform: capitalize;
}

.form-container{
    display: block;
    padding: 30px;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-wrapper label{
    display: block;
    font-size: 25px;
}

.form-wrapper div{
    margin-top: auto;
}
.form-wrapper input{
    width:70%;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin-left: 55px;
    align-self: center;
}

/* ------ Inventory CSS ------- */
.product{
    display: block;
    border-radius: 10px;
    background-color: rgb(249, 227, 161);
    padding: 10px;
    text-transform: capitalize;
    margin: 10px;
}

.pro_btn{
    float: right;
}

.title-wrapper h1{
    display: inline;
}

.title-wrapper{
    display: block;
    justify-items: flex-start;
    margin-top: 30px;
    text-transform: capitalize;
}

.title-wrapper .btn{
    float: right;
    display: block;
    margin-bottom: 5px;
}

/* ---------- Knapsack Styling ------------ */
.knapsack-wrapper{
    margin: 20px;
}