.main-wrapper{
    margin-top: 50px;
    display: flex;
}

.nav-link{
    font-size: 22px;
}

.cards{
    display: flex;
    width: 500px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}

.top-wrapper{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: ivory;
}

.edit{
    margin-left: 50rem;
}

.card-title{
    color: black;
    text-decoration: none;
}