{% extends 'main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
        <div class="title-wrapper">
           <h1>{{ inventory.name }}</h1>
            <a class="btn btn-info" href="{% url 'edit_inventory' inventory.id %}">Edit Inventory</a>
            <a class="btn btn-info" href="{% url 'add_product' inventory.id %}">Add Products</a>
        </div>
        <br>
        <div class="product-wrapper">
            <p class="pro_btn">
            </p>
           <ul>
                {% for product in inventory.products_present.all %}
                    <li class="product">
                        <h4>{{ product.pname }}</h4>
                        <br>  
                        Weight (In Kgs): {{ product.weight }} --------- Value (Per Kg):{{ product.value }}
                    </li>
                {% endfor %}
            </ul> 
        </div>
    <div>    
{% endblock content %}